* {
    margin: 0;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    overflow: hidden;
}

.background {
    background-image: linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
}

.data {
    display: flex;
    flex: 1;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    font-size: 12px;
    gap: 2px;
    flex-direction: column;
    justify-content: center;
}

.client-g {
    min-height: 90vh;
    min-width: 100vw;
    overflow: hidden;
}